{% extends "base.html.twig" %}

{% block title %} {{ film.titre }} {% endblock %}


{% block body %}

{% for message in app.flashes('notif') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

<h2 class="text-center m-3"> {{ film.titre }}
    {% if film.annee is not null %} ({{ film.annee }}) {% endif %} </h2>
<h4 class="text-center"> de
    {% if film.realisateur.prenom is not null %} {{ film.realisateur.prenom }} {% endif %}
    {{ film.realisateur.nom }} </h4>
<br>

<div class="d-flex justify-content-around">
<div class="mt-5"> <strong class="text-danger"> Bande-annonce : </strong> <br>
    {% if film.bandeAnnonce is not null %}
        <iframe width="700" height="500" src={{ film.bandeAnnonce }} title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
        </iframe>
    {% endif %}
</div>
<div class=" mt-5">
<p> <strong class="text-danger"> Genre : </strong>
    {% if film.genre is not null %}
    <ul>
        {% for genre in film.genre %}
        <li> {{ genre.nom }} </li>
        {% endfor %}
    </ul>
    {% endif %}
</p>

<p class="mt-5"> <strong class="text-danger"> Durée (en minutes) : </strong>
    {% if film.duree is not null %} {{ film.duree }} {% endif %} </p>

        <p class="mt-5"> <strong class="text-danger"> Signalétique jeunesse : </strong>
    {% if film.sj is not null %} {{ film.sj.sj }} {% endif %} </p>

        <p class="mt-5"> <strong class="text-danger"> Disponible sur : </strong><br>
    {% if film.dispo is not null %} {{ film.dispo }} {% endif %} </p>
    
</div>
</div>

<div class="d-flex justify-content-around mt-5">
<p class="mr-5"> <strong class="text-danger"> Affiche : </strong> <br>
    {% if film.affiche is not null %}
        <img src="{{ asset('img/affiches/' ~ film.affiche) }}" alt="affiche">
    {% endif %} </p> 

<div>


    <p class="mt-5"> <strong class="text-danger"> Synopsis : </strong> <br>
    {% if film.synopsis is not null %} {{ film.synopsis }} {% endif %} </p>

<p class="mt-5"> <strong class="text-danger"> Casting : </strong> <br>
    {% if film.casting is not null %} {{ film.casting }} {% endif %} </p>
</div>
</div>

<div class="d-flex justify-content-around mt-5">
<p> <strong class="text-danger"> Note de l'admin : </strong>
    {% if film.noteAdmin is not null %} {{ film.noteAdmin }} /20 {% endif %} </p>

<p> <strong class="text-danger"> Note moyenne des utilisateurs : </strong>
    {#
    {% if commentaire.noteUtilisateur is not null %} {{ commentaire.noteUtilisateur }} /20 {% endif %} </p> 
    <a class="btn btn-warning" href={{ path= ('list_note') }}> Voir les notes </a>
    <a class="btn btn-warning"> Voir les notes </a>
    #}

<p> <strong class="text-danger"> Critiques des utilisateurs : </strong>
</div>
    {#
    {% if commentaire.avisUtilisateur is not null %} {{ commentaire.avisUtilisateur }} /20 {% endif %} </p>
    <a class="btn btn-info" href={{ path= ('list_avis') }}> Voir les avis </a> 
    <a class="btn btn-info"> Voir les critiques </a>
    #}

<p class="mt-5"> <strong class="text-danger"> OST : </strong> <br> 
    {% if film.ost is not null %} 
        <a class="font-weight-bold text-dark" target="_blank" href= {{ film.ost }} > {{ film.ost }} </a>
    {% endif %}
</p>

<p class="mt-5"> <strong class="text-danger"> Si vous avez aimé ce film, vous pourriez aimer : </strong>
    {% if film.suggestion is not null %}
    <ul>
        {% for suggestion in film.suggestion %}
        <li>
            <a href={{ path('detail_film', {id: suggestion.id}) }}> {{ suggestion.titre }} </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</p>

<br> <br>
{#
{% if is_granted("ROLE_USER") %} 
    <a class="btn btn-success" href={{ path('note_film', {id:film.id}) }} > Noter ce film </a>
{% else %}
<h5 class="d-line p-2 bg-white text-danger text-center"> Veuillez-vous <a href={{ path('app_login') }}> connecter </a>
ou vous <a href={{ path('register_utilisateur') }}> enregistrer </a>
pour noter et/ou laisser un avis sur ce film. </h5>
{% endif %}
#}
<br> <br>
<a class="btn-block btn-lg btn-info text-center" href={{ path('list_film') }}> RETOUR SUR LA LISTE DES FILMS </a>
<br> <br> 

{% if is_granted("ROLE_ADMIN") %}
<a class="btn-block btn-lg btn-warning text-center" href={{ path('update_film', {id: film.id}) }}> MODIFIER CE FILM </a>
<br>
<br>
<a class="btn-block btn-lg btn-danger text-center" href={{ path('delete_film', {id: film.id}) }}> SUPPRIMER CE FILM </a>
<br>
<br>

{% endif %}

{% endblock %}