{% extends 'base.html.twig' %}

{% block title %} Liste des films {% endblock %}


{% block body %}

<h1 class="text-center"> Liste des films </h1>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<ul style="list-style-type: none">
    {% for film in filmList %}
        <li>
            {# si je mets une boucle for, c'est l'affiche d'halloween qui boucle #}
            <img src="{{ asset('img/affiches/' ~ film.affiche) }}" alt="affiche">
        </li>
        <li>
            <a class="btn btn-info" href={{ path('detail_film', {id:film.id}) }} > Détails </a>
        </li>
        <li>
            {{ film.titre }} 
            {% if film.annee is not null %}
                ({{ film.annee }})
            {% endif %}
        </li> <br> <br>
    {% endfor %}
</ul>

<br> <br>

{# {% if is_granted('ROLE_ADMIN') %}  #}
    <a class="btn-block btn-lg btn-success text-center" href={{ path('create_film') }}> AJOUTER UN FILM </a> 
{# {% endif %} #}
<br> <br>

{% endblock %}