{% extends 'base.html.twig' %}

{% block title %} Liste des films {% endblock %}


{% block body %}

<h1 class="text-center"> Liste des films </h1>

<table>

    {% for film in filmList %}
    <ul>
        <li> (emplacement affiche) {{ film.affiche }} 
            {# {% if is_granted('ROLE_ADMIN') %}  #}
            <a class="btn btn-primary" href={{ path('detail_film', {id:film.id}) }} > En cliquant, sur l'affiche, on verra les détails du film </a>
            {# {% endif %} #}
        </li>

        <li>
            {{ film.titre }} 
            {% if 'film.annee' != null %}
                ({{ film.annee }})
            {% else %}    {# Je veux faire disparaître les parenthèses si l'admin ne précise pas l'année #}
            {% endif %}

            {# {% if is_granted('ROLE_ADMIN') %}  #}
            <a class="btn btn-warning" href={{ path('update_film', {id:film.id}) }}> Modifier </a> 
            {# {% endif %} #}

            {# {% if is_granted('ROLE_ADMIN') %}  #}
            <a class="btn btn-danger" href={{ path('delete_film', {id:film.id}) }}> Supprimer </a> 
            {# {% endif %} #}
        </li>
    </ul>

    {% endfor %}
</table>

<br> <br> <br>

{# {% if is_granted('ROLE_ADMIN') %}  #}
<a class="btn btn-primary" href={{ path('create_film') }}> Ajouter un film </a> 
{# {% endif %} #}

{% endblock %}