{% extends 'base.html.twig' %}

{% block title %} Liste des films {% endblock %}


{% block body %}

<br>
<h1 class="text-center"> Liste des films </h1>
<br>

<div class="card-deck">
    {% for film in filmList %}
    <div class="card-body">
        <a href={{ path('detail_film', {id:film.id}) }}>
            <img src="{{ asset('img/affiches/' ~ film.affiche) }}" alt="affiche">
        </a>
        <h4 class="card-title text-center">
            {{ film.titre }}
            {% if film.annee is not null %}
            ({{ film.annee }})
            {% endif %}
        </h4>
    </div>
    {% endfor %}
</div>


{% if is_granted('ROLE_ADMIN') %}
<a class="btn-block btn-lg btn-success text-center" href={{ path('create_film') }}> AJOUTER UN FILM </a>
{% endif %}
<br> <br>

{% endblock %}