{% extends 'base.html.twig' %}

{% block title %}Réalisateurs{% endblock %}

{% block body %}

<br>
<h1 class="text-center"> Liste des réalisateurs </h1>
<br>
<br>
<table class="table" id="realisateur_table">
    <thead>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Détails</th>
        <th>Gestion</th>
    </thead>
    <tbody>
        {% for realisateur in realisateurList %}
        <tr>
            <td>{{ realisateur.prenom }}</td>
            <td>{{ realisateur.nom }}</td>
            <td>
                <a href={{ path('detail_realisateur', {id:realisateur.id}) }} class="btn btn-primary">Voir plus</a>
            </td>
            <td>
                <a href={{ path('update_realisateur', {id:realisateur.id}) }}
                    class="btn btn-warning ml-4 mr-4">Modifier</a>
                <a href={{ path('delete_realisateur', {id:realisateur.id}) }} class="btn btn-danger mr-4">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href={{ path('create_realisateur') }} class="btn btn-success ml-4 m-5">Ajouter un nouveau réalisateur</a>
{% endblock %}