{% extends 'base.html.twig' %}

{% block title %}Espace personnel{% endblock %}

{% block body %}
<h1>Espace personnel</h1>

<img class=" my-4 d-block" src="{{ asset('uploads/avatars/' ~ app.user.avatar) }}" alt="image avatar"
    style="width: 200px; height: 200px; border-radius: 50%;">

<!-- info personnelles -->
<div class="my-4 container mx-auto ">
    <div class="row">
        <div class="col-md-3">Votre pseudo : </div>
        <div class="col-md-4">{{ app.user.pseudo }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">Votre adresse mail : </div>
        <div class="col-md-4">{{ app.user.email }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">Votre année de naissance : </div>
        <div class="col-md-4">{{ app.user.anneeNaissance }}</div>
    </div>
    <div class="row my-4">
        <div class="col-md-3"><a href={{ path('update_utilisateur') }} class="btn btn-warning">Modifier
                votre
                profile</a></div>
        <div class="col-md-3"><a href=# class="btn btn-danger mr-4">Supprimer votre compte</a></div>
    </div>
</div>



<!-- liens gestion -->


{% endblock %}