{% extends "base.html.twig" %}

{% block title %} Page Administration {% endblock %}

{% block body %}
<div class="mx-auto container" style="max-width: 50rem; background-color: #fff;">
    <h1>Page Administration</h1>
    <!-- menu réservé au rôle Admin -->
    <div class="container">
        <h3>Gestion des films</h3>
        <div class="admin-menu-btn d-flex">
            <a class="btn btn-outline-primary m-3 text-uppercase" style="text-align:center"
                href={{ path('list_film') }}>Liste
                des films (modifier/supprimer)</a>
            <a class="btn btn-outline-primary m-3 text-uppercase" style="text-align:center"
                href={{ path('create_realisateur') }}>Ajouter un réalisateur</a>
        </div>

        <h3>Gestion des réalisateurs</h3>
        <div class="admin-menu-btn d-flex">
            <a class="btn btn-outline-primary m-3 text-uppercase" style="text-align:center"
                href={{ path('list_realisateur') }}>Liste des réalisateur (modifier/supprimer)</a>
            <a class="btn btn-outline-primary m-3 text-uppercase" style="text-align:center"
                href={{ path('create_realisateur') }}>Ajouter un réalisateur</a>
        </div>

        <h3>Gestion des genres</h3>
        <div class="admin-menu-btn d-flex">
            <a class="btn btn-outline-primary m-3 text-uppercase" style="text-align:center"
                href={{ path('list_genre') }}>Liste
                des genres(modifier/supprimer)</a>
            <a class="btn btn-outline-primary m-3 text-uppercase" style="text-align:center"
                href={{ path('create_genre') }}>Ajouter un genre</a>
        </div>

        <h3>Gestion de compte Admin</h3>
        <div class="admin-menu-btn d-flex">
            <a class="btn btn-outline-primary m-3 text-uppercase" style="text-align:center"
                href={{ path('register_admin') }}>Ajouter un nouveau compte Admin</a>
        </div>

    </div>

</div>
<!-- A voir si on garde
        <div style>
            <a class="nav-link text-danger m-3 text-uppercase" style="text-align:center" href="#">bientôt à
                l'affiche</a>
        </div> -->
</div>
{% endblock %}