<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <title> {% block title %} Fantasclic {% endblock %} </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href={{ asset('css/bootstrap.css')}} />
    <link rel="stylesheet" type="text/css" href={{ asset('css/style.css')}} />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock %}

    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
    <script type="application/javascript" src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"> </script>
    {% endblock %}

</head>


<body class="bg-secondary" style="font-family: 'Pangolin', cursive;">

  <header class="position-relative">
    <div>
      <img src={{ asset('img/banniereProjetCopie.jpg') }} class="img-fluid w-100" alt="..." style="height:25rem">
    </div>

    <div class="container-fluid p-0" style="width:100%; height:400px; position:absolute; background:rgba(0,0,0,0); backdrop-filter:blur(1px); top:0">

        <div style="text-align:center; margin-top:4rem">
            <img src={{ asset('img/logoFantasclic.jpg')}} alt="">
        </div>

        {# <div class="container-fluid p-0" style="position:absolute; bottom:0">

        </div> #}

  </header>

    <nav class="navbar navbar-expand-lg navbar-light" style="font-size:1.5rem">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav mx-auto">

                <a class="nav-link text-danger mr-5 text-uppercase" href={{ path('accueil') }}> <i class="fas fa-home"></i> Accueil </a>
                <a class="nav-link text-danger mr-5 text-uppercase" href={{ path('list_film') }}> films </a>
                <a class="nav-link text-danger mr-5 text-uppercase" href={{ path('list_realisateur') }}> réalisateurs
                </a>
                <a class="nav-link text-danger mr-5 text-uppercase" href={{ path('list_genre') }}> genres </a>
                <a class="nav-link text-danger mr-5 text-uppercase" href="#"> bientôt à l'affiche </a>
                <a class="nav-link text-danger mr-5 text-uppercase" href="#"> top de la rédac' </a>

                {% if is_granted("ROLE_USER") %}
                <a class="nav-link text-warning" href={{ path('app_logout') }}>SE DECONNECTER</a>
                <a class="nav-link text-warning" href={{ path('detail_utilisateur') }}>ESPACE
                    PERSONNEL</a>
                {% else %}
                <a class="nav-link text-warning" href={{ path('app_login') }}>CONNEXION</a>
                {% endif %}

                {% if is_granted("ROLE_ADMIN") %}
                <a href={{ path('register_admin')}} class="nav-link">Nouveau compte admin</a>
                {% endif %} </a>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

    <footer class="bg-dark">

        <div class="d-flex justify-content-around">

            <a class="text-danger" href={{ path('contact') }}>Contact</a>
            <a class="text-danger" href="#">Qui sommes-nous ?</a>

        </div>

    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
    <script>
        $('.custom-file-input').on('change', function (event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>


</body>

</html>