<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <title> {% block title %} Fantasclic {% endblock %} </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href={{ asset('css/bootstrap.css')}} />
    <link rel="stylesheet" type="text/css" href={{ asset('css/style.css')}} />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock %}

    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
    <script type="application/javascript" src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"> </script>
    {% endblock %}

</head>

<body style="font-family: '_TOP_SECRET.otf'; src: url('public/font/_TOP_SECRET_.otf'); background-image:url({{ asset('img/fondShining.jpg')}}); background-size:contain; background-repeat:repeat">

    <!-- Header banniere -->
    <header class="position-relative">
        <div>
            <img src={{ asset('img/header/banniereProjetCopie.jpg') }} class="img-fluid w-100" alt="bannier header"
                style="height:25rem">
        </div>

        <div class="container-fluid p-0"
            style="width:100%; height:400px; position:absolute; background:rgba(0,0,0,0); backdrop-filter:blur(1px); top:0">

            <div style="text-align:center; margin-top:4rem">
                <img src={{ asset('img/header/logoFantasclic.jpg')}} alt="logo fantasclic">
            </div>

            {# <div class="container-fluid p-0" style="position:absolute; bottom:0">

        </div> #}

    </header>

    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light pb-4" style="font-size:1.5rem; background-color: #0a0a0a;">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav mx-auto">
                <div
                    style="background-image:url('img/navTicket4-no-bg.png'); background-size:cover; width:12rem; padding-top: 1.2rem;">
                    <a class="nav-link text-danger strong small font m-2 text-uppercase" style="text-align:center;"
                        href={{ path('accueil') }}><i class="fas fa-home"></i>Accueil</a>
                </div>
                <div
                    style="background-image:url('img/navTicket4-no-bg.png'); background-size:cover; width:12rem; padding-top: 1.2rem;">
                    <a class="nav-link text-danger strong small m-2 text-uppercase" style="text-align:center"
                        href={{ path('list_film') }}>films</a>
                </div>
                <div
                    style="background-image:url('img/navTicket4-no-bg.png'); background-size:cover; width:12rem; padding-top: 0.7rem;">
                    <a class="nav-link text-danger strong small m-1 text-uppercase" style="text-align:center"
                        href="#">top de<br>la
                        rédac'</a>
                </div>
                <!-- Gestion utilisateur/admin -->
                {% if is_granted("ROLE_USER") %}
                <div>
                    <div>
                        <a class="nav-link btn btn-primary mt-1" href={{ path('app_logout') }}>SE
                            DECONNECTER</a>
                    </div>
                    <div>
                        <a class="nav-link btn btn-primary mt-2" href={{ path('detail_utilisateur') }}>ESPACE
                            PERSONNEL</a>
                    </div>
                </div>
                {% else %}
                <div
                    style="background-image:url('img/navTicket4-no-bg.png'); background-size:cover; width:12rem; padding-top: 1.5rem; font-size: 1.3rem">
                    <a class="nav-link text-danger strong small m-2 text-uppercase" style="text-align:center"
                        href={{ path('app_login') }}>Connexion<br></a>
                </div>
                {% endif %}

                <div
                    style="background-image:url('img/navTicket4-no-bg.png'); background-size:cover; width:12rem; padding-top: 0.7rem; font-size: 1.3rem">
                    <a class="nav-link text-danger strong small m-2 text-uppercase" style="text-align:center"
                        href={{ path('app_login') }}>Menu<br> admin</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

    <!-- footer -->
    <footer class="py-1 mt-5" style="background-color: #0a0a0a;">
        <div class="container">
            <div class="d-flex justify-content-around py-2">
                <a style="color: #fff" class="lead" href={{ path('contact') }}>
                    Contact
                </a>
                <a style="color: #fff" class="lead" href={{ path('a_propos') }}>Qui sommes-nous ?</a>
            </div>

            <!-- Copywrite Text -->
            <div class="copy_right_text text-center py-2">
                <p style="color: #fff" class="lead">© 2021 Fantasclic All Rights Reserved</p>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
    <script>
        $('.custom-file-input').on('change', function (event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>


</body>

</html>